table, tr, th, td{
    background-color: orange;
    text-align: center;
    border: 1px solid;
    border-collapse: collapse;
}

.animal{
    max-height: 100%;
}

label{
    font-weight: bold;
}

td{
    height: 150px;
}