img{
    display: block;
    margin: 20px auto;
    width: 20%;
}

h1, p{
    text-align: center;
    margin: 20px auto;
}

.button{
    margin: auto;
    color: white;
    background-color: blue;
    border: 2px double black;
    border-radius: 2px;
    display: block;
    text-align: center;
    width: 10%;
    padding-top: 1%; 
}

.button:hover {
    opacity: 0.75;
  }

